

 <div class="row">
    <div class="col-md-12">
        <div class="jumbotron"  style="text-align: center; background-color: #34495e;">
            <h1 class="deepshd"> The Denim Factory </h1>
     </div>
    </div>
  </div> 

<div class="container">
  
  
<div class="row">
  <div class="col-md-12">
      <input type="file" name="files"  #uploads  (change)="onChange(uploads.files)" multiple value="process"/>
      <br>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
     
    <button class="btn btn-primary " (click)="printall(dataList)">print All</button>
    <br>
      <table class="table table-bordered">
          <thead class="thead-white">
            <tr>
              <th scope="col">id</th>
              <th scope="col">Ref#</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Phone #</th>
              <th scope="col">Email</th>
              <!-- <th scope="col">City</th> -->
              <th scope="col">Pieces</th>
              <th scope="col">Weight</th>
              <th scope="col">Amount</th>
              <th scope="col">Fragile</th>
              <th scope="col">Detail</th>
              <th scope="col">Remarks</th>
              <th scope="col">Service</th>
              <th scope="col">Print</th>
  
            </tr>
          </thead>
          <tbody *ngFor="let record of dataList">
              
            <tr >
                  <th scope="row">{{record.id}}</th>
                  <td> {{record.refno}} </td>
                  <td> {{record.name}} </td>
                  <td>{{record.address}}</td>
                  <td>{{record.number}}</td>
                  <td>{{record.email}}</td>
                  <td>{{record.pieces}}</td>
                  <td>{{record.weight}}</td>
                  <td>{{record.amount}}</td>
                  <td>{{record.fragile}}</td>
                  <td>{{record.detail}}</td>
                  <td>{{record.remarks}}</td>
                  <td>{{record.service}}</td>
                  <td><button class="btn btn-primary" (click)="printSlip(record)">print slip</button></td>
            </tr>
          </tbody>
         
        
        </table>
         <!-- <pagination-controls style="float:center" (pageChange)="p =$event"></pagination-controls> -->
  

  </div>

</div>
    </div>
    <!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"> Powered By  scorpleo solution © 2018 Copyright:
    <!-- <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDB-ootstrap.com</a> -->
  </div>
  <!-- Copyright -->

</footer>